[Unit]
Description=ShortUrl

[Service]
Environment=ASPNETCORE_URLS=http://localhost:<port>
Environment=ASPNETCORE_ENVIRONMENT=Production
WorkingDirectory=<path.to.the.folder>
ExecStart=/usr/bin/dotnet <path.to.the.folder>/SecretNest.ShortUrl.dll
SyslogIdentifier=ShortUrl
Restart=always
RestartSec=10
KillSignal=SIGINT
User=www-data

[Install]
WantedBy=multi-user.target
