<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<title>Domain Manager</title>

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		  integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
		  crossorigin="anonymous" />
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
		  crossorigin="anonymous" />

</head>
<body>

	<div id="root">
		<div class="container">
			<main class="mt-3">

				<h1 class="text-center lead">Domain Management</h1>
				<hr />
				<div class="alert alert-warning" v-if="isInsecureHttp">
					Caution: Due you visiting through HTTP without SSL protection, the domain management key is leaked to the Internet data link. This page should never be visited though HTTP protocol. Please consider to access this page through HTTPS only and change the domain management key ASAP.
				</div>


				<div class="accordion" id="main-accordion">
					<div class="card">
						<div class="card-header" id="domain-setting-head">
							<a href="#" data-toggle="collapse" data-target="#domain-setting-body" aria-expanded="true" aria-controls="domain-setting-head">Domain Setting</a>
						</div>

						<div id="domain-setting-body" class="collapse show" aria-labelledby="domain-setting-head" data-parent="#main-accordion">
							<div class="card-body">

								<div class="accordion" id="domain-setting-accordion">

									<div class="card">
										<div class="card-header" id="default-redirect-target-head">
											<a href="#" data-toggle="collapse" data-target="#default-redirect-target-body" aria-expanded="true" aria-controls="default-redirect-target-head">Default Redirect Target</a>
										</div>
										<div id="default-redirect-target-body" class="collapse show" aria-labelledby="default-redirect-target-head" data-parent="#domain-setting-accordion">
											<div class="card-body">

												<p class="card-text">All unmatched requests with this domain name will be redirected to this address specified.</p>

												<div class="form-group">
													<label>Target</label>
													<input class="form-control" type="url" v-model="domainSetting.defaultTarget.target" />
													<small class="form-text text-muted">The address to be redirected to.</small>

												</div>

												<div class="form-group">
													<div class="form-check">
														<label class="form-check-label">
															<input type="checkbox" class="form-check-input" v-model="domainSetting.defaultTarget.permanent" />
															Use HTTP 301 instead of 302
														</label>
													</div>
													<small class="form-text text-muted">Redirect with HTTP 301 will be cached by browser.</small>
												</div>


												<div class="form-group">
													<div class="form-check">
														<label class="form-check-label">
															<input type="checkbox" class="form-check-input" v-model="domainSetting.defaultTarget.queryProcess" /> Attach Query String
														</label>
													</div>
													<small class="form-text text-muted">Attach query string to the target.</small>
												</div>

												<hr />
												<button type="button" class="btn btn-outline-secondary" v-on:click="updateDomainDefaultTarget()">Update</button>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="domain-management-key-head">
											<a href="#" data-toggle="collapse" data-target="#domain-management-key-body" aria-expanded="true" aria-controls="domain-management-key-head">Domain Management Key</a>
										</div>
										<div id="domain-management-key-body" class="collapse" aria-labelledby="domain-management-key-head" data-parent="#domain-setting-accordion">
											<div class="card-body">

												<input type="text" v-model="domainSetting.managementKey" class="form-control" />
												<small class="form-text text-muted">Navigate to this page when using this setting as path segment.</small>

												<hr />
												<button type="button" class="btn btn-outline-secondary" v-on:click="updateDomainManagementKey()">Update</button>

											</div>



										</div>
									</div>

									<div class="card">
										<div class="card-header" id="ignore-case-head">
											<a href="#" data-toggle="collapse" data-target="#ignore-case-body" aria-expanded="true" aria-controls="ignore-case-head">Ignore Case When Matching</a>
										</div>
										<div id="ignore-case-body" class="collapse" aria-labelledby="ignore-case-head" data-parent="#domain-setting-accordion">
											<div class="card-body">

												<div class="form-group">
													<div class="form-check">
														<label class="form-check-label">
															<input type="checkbox" class="form-check-input" v-model="domainSetting.ignoreCaseWhenMatching" />
															Ignore Case When Matching
														</label>
													</div>

													<div class="text-muted form-text">After enable this, the records with similar names with different case will be kept only one.</div>

												</div>


												<hr />
												<button type="button" class="btn btn-outline-secondary" v-on:click="updateIgnoreCase()">Update</button>

											</div>


										</div>
									</div>

								</div>

							</div>

						</div>
					</div>

				</div>

				<div class="card">
					<div class="card-header" id="redirects-head">
						<a href="#" data-toggle="collapse" data-target="#redirects-body" aria-expanded="true" aria-controls="redirects-head">Redirects</a>
					</div>

					<div id="redirects-body" class="collapse" aria-labelledby="redirects-head" data-parent="#main-accordion">
						<div class="card-body">

							<p class="card-text">Navigating from host which equals alias column of this table will be treated as to the host specified in target column of the same record.</p>

							<table class="table table-stripped">
								<thead>
									<tr>
										<th>Address</th>
										<th>Target</th>
										<th>Permanent</th>
										<th>Query String</th>
										<th>Management</th>
									</tr>
								</thead>
								<tbody>
									<template v-if="redirects && redirects.length !== 0">
										<tr v-for="item in redirects">
											<th>
												<input type="text" required="required" v-model="item.newAddress" class="form-control form-control-sm" />
											</th>
											<td>
												<input type="url" required="required" v-model="item.target" class="form-control form-control-sm" />
											</td>
											<td>
												<div class="form-check form-check-inline">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" v-model="item.permanent" /> Use HTTP 301
													</label>
												</div>
											</td>
											<td>
												<div class="form-check form-check-inline">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" v-model="item.queryProcess" /> Attach
													</label>
												</div>
											</td>
											<td>
												<div class="btn-group btn-group-sm">
													<button type="button" class="btn btn-outline-secondary" v-on:click="tryRedirect(item)">Try It</button>
													<button type="button" class="btn btn-outline-secondary" v-on:click="updateRedirect(item)">Update</button>
													<button type="button" class="btn btn-danger" v-on:click="removeRedirect(item.address)">Remove</button>
												</div>
											</td>
										</tr>
									</template>

									<tr v-else>
										<td colspan="5">
											<div class="text-center text-muted">There's no active redirects yet.</div>
										</td>
									</tr>
									<tr>
										<th>
											<input type="text" required="required" v-model="newRedirect.address" class="form-control form-control-sm" />
										</th>
										<td>
											<input type="url" required="required" v-model="newRedirect.target" class="form-control form-control-sm" />
										</td>
										<td>
											<div class="form-check form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" v-model="newRedirect.permanent" /> Use HTTP 301
												</label>
											</div>
										</td>
										<td>
											<div class="form-check form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" v-model="newRedirect.queryProcess" /> Attach
												</label>
											</div>
										</td>
										<td>
											<div class="btn-group btn-group-sm">
												<button type="button" class="btn btn-primary" v-on:click="addRedirect()">Add Redirect</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
					</div>

				</div>


			</main>
		</div>
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
			integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
			integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
			integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
			integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
			crossorigin="anonymous"></script>

	<script>

		function updateQueryProcessLabel(item) {

			// Update to boolean
			item.queryProcess = item.queryProcess !== 0;
		}

		var rootVue = new Vue({
			el: '#root',
			data: {
				domainSetting: {
					defaultTarget: {
						target: null,
						permanent: false,
						queryProcess: false
					},
					managementKey: null,
					ignoreCaseWhenMatching: false
				},
				redirects: [],
				newRedirect: {
					address: null,
					target: null,
					permanent: false,
					queryProcess: false
				}
			},
			computed: {
				isInsecureHttp() {
					return location.protocol !== 'https:';
				},
				isAttached: {
					get() {
						return this.domainSetting.defaultTarget.queryProcess !== 0;
					},
					set(value) {
						if (value) {
							this.domainSetting.defaultTarget.queryProcess = 1;
						} else {
							this.domainSetting.defaultTarget.queryProcess = 0;
						}
					}
				}
			},

			methods: {
				getDomainSetting() {
					$.get('?verb=GetDomainSetting',
						function (data) {
							updateQueryProcessLabel(data.defaultTarget);
							rootVue.domainSetting = data;
						});
				},

				updateDomainDefaultTarget() {
					// Create data object

					$.get({
						url: '?verb=UpdateDomainDefaultTarget',
						data: this.domainSetting.defaultTarget
					})
						.then(function () {
							alert('The domain default target has been updated.');
						})
						.fail(function (xhr) {
							alert(
								'Error occured during this operation. Please try again later or contact administrators.');
						});

				},

				updateIgnoreCase() {

					var data = {
						ignoreCase: this.domainSetting.ignoreCaseWhenMatching
					};
					$.get({
							url: '?verb=UpdateIgnoreCaseWhenMatching',
							data: data
						})
						.then(function () {
							alert('The ignore case setting has been updated.');
							rootVue.getRedirects();
						})
						.fail(function (xhr) {
							alert(
								'Error occured during this operation. Please try again later or contact administrators.');
						});

				},

				updateDomainManagementKey() {
					var data = {
						key: this.domainSetting.managementKey
					};
					$.get({
						url: '?verb=UpdateDomainManagementKey',
						data: data
					})
						.then(function (newKey) {
							alert('The domain management key has been updated. Now you will be redirected to the new location.');
							window.location.href = '/' + newKey;
						})
						.fail(function (xhr) {
							alert(
								'Error occured during this operation. Please try again later or contact administrators.');
						});

				},

				getRedirects() {
					$.get('?verb=GetRedirects',
						function (data) {

							// Update data
							$.each(data,
								function (index, value) {
									updateQueryProcessLabel(value);
									value.newAddress = value.address;
								});

							rootVue.redirects = data;
						});

				},

				tryRedirect(item) {
					window.open('/' + item.address, '_blank');
				},

				updateRedirect(item) {

					var data = item;

					$.get({
						url: '?verb=UpdateRedirect',
						data: data
					}).done(function () {
						alert('The redirect has been updated.');
						rootVue.getRedirects();
					})
						.fail(function (xhr) {
							switch (xhr.status) {
								case 410:
									if (confirm('The domain specified cannot be found. Please refresh this page. Do you want to refresh it now?')) {
										rootVue.getRedirects();;
									}
									break;
								case 409:
									alert('The domain specified already exists in domains or aliases.');
									break;
								default:
									alert(
										'Error occured during this operation. Please try again later or contact administrators.');
									break;
							}
						});
				},

				addRedirect() {
					$.get({
						url: '?verb=AddRedirect',
						data: this.newRedirect
					}).done(function () {
						alert('The redirect has been added.');

						// Clear data
						rootVue.newRedirect = {
							address: null,
							target: null,
							permanent: false,
							queryProcess: false
						};

						// Update
						rootVue.getRedirects();

					}).fail(function (xhr) {
						switch (xhr.status) {
							case 409:
								alert('A record with the same address specified already exists.');
								break;
							default:
								alert(
									'Error occured during this operation. Please try again later or contact administrators.');
								break;
						}
					});
				},
				removeRedirect(address) {
					$.get({
						url: '?verb=RemoveRedirect',
						data: {
							address: address
						}
					}).done(function () {
						alert('The redirect has been removed.');
						rootVue.getRedirects();
					}).fail(function (xhr) {
						switch (xhr.status) {
							case 410:
								if (confirm('The domain specified cannot be found. Please refresh this page. Do you want to refresh it now?')) {
									rootVue.getRedirects();;
								}
								break;
							default:
								alert(
									'Error occured during this operation. Please try again later or contact administrators.');
								break;
						}
					});
				}
			},
			created() {
				this.getDomainSetting();
				this.getRedirects();
			}

		});
	</script>

</body>
</html>
