<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<title>Global Manager</title>

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		  integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
		  crossorigin="anonymous" />
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
		  crossorigin="anonymous" />

</head>
<body>

	<div id="root">
		<div class="container">
			<main class="mt-3">
				<div class="alert alert-warning" v-if="isInsecureHttp">
					Caution: Due to visiting through Http without Ssl protection, the global management key is leaked to the internet data link. This page should never be visited though http protocol. Please consider to access this page through Https only and change the global management key asap.
				</div>

				<h1 class="lead text-center">Global Setting</h1>
				<hr />

				<div class="form-group">
					<label>Default Target</label>
					<input class="form-control" type="url" v-model="globalSetting.defaultTarget.target" />
					<small class="form-text text-muted">The address to be redirected to.</small>

				</div>

				<div class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" v-model="globalSetting.defaultTarget.permanent" />
							Use Http 301 instead of 302
						</label>
					</div>
					<small class="form-text text-muted">Record with this setting enabled will be cached by browser.</small>
				</div>


				<div class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" v-model="isAttached" />
							<span v-if="globalSetting.defaultTarget.queryProcess === 1">
								Attach Query Process (Append Directly)
							</span>
							<span v-else-if="globalSetting.defaultTarget.queryProcess === 2">
								Attach Query Process (Removing Leading Question Mark)
							</span>
							<span v-else>
								Attach Query Process
							</span>
						</label>
					</div>
					<small class="form-text text-muted">Attach Query Process to the target. </small>
				</div>

				<div class="mt-2">
					<button type="button" class="btn btn-outline-secondary">Update</button>
				</div>

				<hr />

				<div class="form-group">
					<label>Global Management Key</label>
					<input type="url" v-model="globalSetting.globalManagementKey" class="form-control" />
					<small class="form-text text-muted">Navigate to this page while using this setting as address.</small>
				</div>

				<div class="mt-2">
					<button type="button" class="btn btn-outline-secondary" v-on:click="updateGlobalManagementKey()">Update</button>
				</div>

				<hr />

				<div class="form-group">
					<label>Global Management Enabled Hosts</label>
					<small class="text-muted form-text">
						Allow visiting this page by these host names below. Leave empty to allow accessing through all host names. The current host can only be added as the first record and be removed at last.
					</small>
					<table class="table table-sm table-stripped mt-2">
						<thead>
							<tr>
								<th>Domain Name</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody>
							<template v-if="globalSetting.globalManagementEnabledHosts && globalSetting.globalManagementEnabledHosts.length !== 0">
								<tr v-for="host in globalSetting.globalManagementEnabledHosts">
									<th>{{host}}</th>
									<td>
										<button type="button" class="btn btn-sm btn-danger" v-on:click="deleteHost(host)">Delete</button>
									</td>
								</tr>
							</template>
							<tr v-else>
								<td colspan="2">
									<div class="text-muted text-center m-2">There's no enabled global management hosts yet.</div>
								</td>
							</tr>
							<tr>
								<th>
									<input type="text" class="form-control form-control-sm" />
								</th>
								<td>
									<button type="button" class="btn btn-sm btn-primary" v-on:click="addHost()">Add</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</main>
		</div>
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
			integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
			integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
			integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
			integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
			crossorigin="anonymous"></script>

	<script>

		var rootVue = new Vue({
			el: '#root',
			data: {
				globalSetting: {
					defaultTarget: {
						target: null,
						permanent: false,
						queryProcess: false
					},
					globalManagementKey: null,
					globalManagementEnabledHosts: []
				},
				messages: []
			},
			computed: {
				isInsecureHttp() {
					return location.protocol !== 'https:';
				},
				isAttached: {
					get() {
						return this.globalSetting.defaultTarget.queryProcess !== 0;
					},
					set(value) {
						if (value) {
							this.globalSetting.defaultTarget.queryProcess = 1;
						} else {
							this.globalSetting.defaultTarget.queryProcess = 0;
						}
					}
				}
			},

			methods: {

				getGlobalSetting() {
					$.get('?verb=GetGlobalSetting',
						function (data) {
							rootVue.globalSetting = data;
						});
				},

				updateGlobalDefaultTarget() {
					// Create data object
					var data = $.param(this.globalSetting.defaultTarget);
					data.queryProcess = data.queryProcess !== 0;

					$.get('?verb=UpdateGlobalDefaultTarget', data);
				},

				updateGlobalManagementKey() {
					var data = {
						key: this.globalSetting.globalManagementKey
					};
					$.get('?verb=UpdateGlobalManagementKey',
						data,
						function (newKey, status, xhr) {
							switch (xhr.status) {
								case 205:
									window.location.href = '/' + newKey;
									break;
								default:
									break;
							}
						});
				}

			},

			created() {
				this.getGlobalSetting();
			}
		});
	</script>


</body>
</html>